<ion-header no-border >
  <ion-navbar>
    <ion-searchbar #searchbar [(ngModel)]="keyword" (ionInput)="searchbarGenerate($event)" placeholder="artist or song title"
      no-border>
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-list id="search-list" [class.show]="searchMode===true">
  <ion-item *ngFor="let song of searchList" (click)="play(song)">
    <h2>{{song.title}}</h2>
    <p>{{song.artist}}</p>
    <p item-end>{{song.playcounts}}</p>
  </ion-item>
  <ion-item *ngIf="searchList.length === 0">
    <h2>no result!</h2>
  </ion-item>
</ion-list>

<ion-content padding>
  <div id="overlay" [class.show]="searchMode===true" (click)="closeSearchList()">
  </div>
  <h1>
    Luong Duy Khanh
  </h1>
</ion-content>