<ion-content #content>
	<div id="player-box">
		<div id="player" data-plyr-provider="youtube" [attr.data-plyr-embed-id]="this.playerData.song ? this.playerData.song.link : 'bTqVqk7FSmY'"></div>
	</div>
	<div class="head-fade"></div>

	<div id="lyric-panel">
		<ng-container *ngIf="mode==='play'">
			<p *ngFor="let line of lyric.lines; let i = index" [class.active]="i == currIndex">
				{{line.text}}
			</p>
		</ng-container>
		<ng-container *ngIf="mode==='karaoke'">
			<p>Karaoke</p>
		</ng-container>
	</div>
	<div class="foot-fade"></div>
</ion-content>

<ion-footer no-border-bottom>
	<ion-toolbar>
		<ion-segment [(ngModel)]="mode" color="primary">
			<ion-segment-button value="play">
				Learning
			</ion-segment-button>
			<ion-segment-button value="karaoke">
				Karaoke
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-footer>